body {
  background-color: lavenderblush;
  margin: 30px 50px 30px 50px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main h1 {
  font-size: 26px;
  line-height: 160px;
  text-align: center;
  background-color: white; 
  margin: auto;
  display: block;
}

h1 {
  color: rgb(149, 60, 145);

  background-color: rgb(236, 189, 205);
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  padding: 50px 30px 50px 30px;
  border-width: 3px;
  text-align: center;
}

.main-header {
  position: fixed;
  top: 0;
  width: 94%;
  height: 60px;
  background-color: rgb(249, 242, 248);
  display: inline-block;
}

nav {
  width: auto;
}
p {
  color: hwb(160 5% 94%);
  margin: 2px;
  margin-bottom: 2vh;
  font-size: 20px;  
}



.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
  text-indent: 20px;
  text-align: left;
  margin: auto;
}

.gorditas-bold {
  font-family: 'Satisfy', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: rgba(22, 21, 22, 0.659);
  font-size: 45px;
  padding: 50px 30px 50px 30px;
  background-color: rgb(237, 189, 205);
  
}


#beginning {
  color: #f5faf9;
}

div {
  background-color: rgb(199, 125, 166);
  margin: auto;
}

h2 {
  color:#fafdfc
  
}

h3 {
  color:rgb(253, 247, 247)
 
}

h4{
  color: rgb(247, 241, 241);
  
}


div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}


.active {
  background-color: #f0d1ee;
}
.active1 {
  background-color: #fcedfb;
}

.active2 {
  background-color: #e9d4e7;
}

.active3 {
  background-color: #eedfed;
}

.active4 {
  background-color: #e3c7e2;
}

.active5 {
  background-color: #f1dcf0;
}

.active6 {
  background-color: #edd7eb;
}

.active7 {
  background-color: #edd7eb;
}

.active8 {
  background-color: #edd7eb;
}

.active9 {
  background-color: #edd7eb;
}

.active10 {
  background-color: #edd7eb;
}

.nav1 {
  margin: auto;
  width: 90%;
}

.cities {
  font-size: 20px;
}
.cities1 {
  font-size: 20px;
}
.info {
  font-size: 20px;
}

/* For mobile phones: */
@media only screen and (max-width: 400px) {
 p  { 
    font-size: 10px;
}
 img { 
   width: 100px;
   height: 100px;
  }
 
}

  /* For tablet: */

  @media only screen and (max-width: 800px) {
    p  { 
      font-size: 17px;
  }
   img { 
      max-width: 60%;
      height: auto;
      border-radius: 50%;
    }
  }
  
  /* For Desktop: */

  @media only screen and (min-width: 800px) {
    p  { 
      font-size: 20px;
  }
   img { 
      max-width: 80%;
      height: auto;   
    }
 
  .cities {
      font-size: 20px;
    }
    .info {
      font-size: 20px;
    }
    .cities {
      font-size: 20px;
    }
  }


  .dropbtn {
    background-color: #75305b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8b8e9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(149, 141, 141);
    z-index: 1;
  }
  .dropdown-content a:hover {background-color: #f8f3f7}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #e864af;
  }

  .elsie-regular {
    font-family: "Elsie", serif;
    font-weight: 400;
    font-style: normal;
  }

  .elsie-black {
    font-family: "Elsie", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .icon{
    width: 10%;
    height: auto;
    float: right;
    position: relative;
    border-radius: 50%;
  }
  
  div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 100%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .gorditas-bold {
    font-family: "Gorditas", serif;
    font-weight: 700;
    font-style: normal;
  }

  div.physical {
    margin: 20px;
    border: 1px solid #ccc;
    float: right;
    width: 200px;
  }
  
  div.physical:hover {
    border: 1px solid #777;
  }
  
  div.physical img {
    width: 100%;
    height: 100%;
  }
  
  div.wellbeing {
    padding: 15px;
    text-align: left;
  }

  div.mentalhealth {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.mentalhealth:hover {
    border: 1px solid #777;
  }
  
  div.mentalhealth img {
    width: 100%;
    height: 100%;
  }
  
  div.wellbeing1 {
    padding: 15px;
    text-align: left;
  }

  
  div.spiritual {
    margin: 20px;
    border: 1px solid #ccc;
    float: right;
    width: 200px;
  }
  
  div.spiritual:hover {
    border: 1px solid #777;
  }
  
  div.spiritual img {
    width: 100%;
    height: 100%;
  }
  
  div.wellbeing2 {
    padding: 15px;
    text-align: left;
  }
  div.family {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
  }
  
  div.family:hover {
    border: 1px solid #777;
  }
  
  div.family img {
    width: 100%;
    height: 100%;
  }
  
  div.wellbeing3 {
    padding: 15px;
    text-align: left;
  }

  div.nature {
    margin: 20px;
    border: 1px solid #ccc;
    float: right;
    width: 200px;
  }
  
  div.nature:hover {
    border: 1px solid #777;
  }
  
  div.nature img {
    width: 100%;
    height: 100%;
  }
  
  div.wellbeing4 {
    padding: 15px;
    text-align: left;
  }

  .problem-solving {
    width: 100%;
    height:auto;
   
  }


  .block-image {
    width: 400px; 
    height: auto; 
  }
  .elegantly-image {
    width: 400px; 
    height: auto; 
  }
  .solution-image {
    width: 400px; 
    height: auto; 
  }
  .asking-image {
    width: 400px; 
    height: auto; 
  }