body {
  background-color: lavenderblush;

}
h1 {
  color: rgb(169, 60, 165);
  background-color: azure;
  margin: 20 10 20 10;
  padding: auto;
  border-style: ridge;
  border-width: 3px;
  text-align: center;
  position: static;
}
p {
  color: hwb(161 55% 18%);
  

}

.satisfy-regular {
  font-family: 'Satisfy', cursive;
  font-weight: 400;
  font-style: normal;
}


#beginning {
  color: #2ed3bd;
}

div {
  background-color: lightgrey;
}



