body {
  background-color: lavenderblush;
  margin: 30px 50px 30px 50px;
  
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

h1 {
  color: rgb(169, 60, 165);

  background-color: lavenderblush;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  padding: 50px 30px 50px 30px;
  border-style: ridge;
  border-width: 3px;
  text-align: center;
}
p {
  color: hwb(160 5% 94%);
  margin: 2px;
  margin-bottom: 2vh;
  font-size: 20px;
}



 {

}

.satisfy-regular {
  font-family: 'Satisfy', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: rgb(91, 9, 100);
  font-size: 40px;
  padding: 50px 30px 50px 30px;
  background-color: lavenderblush;
  
}


#beginning {
  color: #f5faf9;
}

div {
  background-color: rgb(229, 200, 235);
  margin: auto;
}

h2 {
  color:#2c7463
  
}

h3 {
  color:rgb(253, 247, 247)
 
}

h4{
  color: rgb(247, 241, 241);
  
}


div.relative {
  position: relative;
  left: 30px;
  border: 3px solid #73AD21;
}


.active {
  background-color: #d444cb;
}
.active1 {
  background-color: #d444cb;
}

.active2 {
  background-color: #d444cb;
}

.active3 {
  background-color: #d444cb;
}

.active4 {
  background-color: #d444cb;
}

.active5 {
  background-color: #d444cb;
}

.active6 {
  background-color: #d444cb;
}



.nav1 {
  margin: auto;
  width: 57%;
}

.cities {
  font-size: 20px;
}
.cities1 {
  font-size: 20px;
}
.info {
  font-size: 20px;
}

/* For mobile phones: */
@media only screen and (max-width: 400px) {
 p  { 
    font-size: 10px;
}
 img { 
   width: 100px;
   height: 100px;
  }
 
}

  /* For tablet: */

  @media only screen and (max-width: 800px) {
    p  { 
      font-size: 17px;
  }
   img { 
      max-width: 60%;
      height: auto;
      border-radius: 50%;
    }
  }
  
  /* For Desktop: */

  @media only screen and (min-width: 800px) {
    p  { 
      font-size: 20px;
  }
   img { 
      max-width: 80%;
      height: auto;   
    }
 
  .cities {
      font-size: 20px;
    }
    .info {
      font-size: 20px;
    }
    .cities {
      font-size: 20px;
    }
  }


  